@model IEnumerable<GeradorDeProvas.Models.Entity.Test>

@{
    ViewData["Title"] = "Index";
}

<h1>Test Generator</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create new Test</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Student
            </th>
            <th>
                Period
            </th>
            <th>
                Questions Number
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestQuestions.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="CreateFile" asp-route-id="@item.Id" class="btn btn-info">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
