@model IEnumerable<GeradorDeProvas.Models.Entity.PeriodSubject>

@{
    ViewData["Title"] = "Subjects";
}

<h1>Subjects</h1>

<p>
    <a asp-action="Create">Create new Subject</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Period
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Subject.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Subject.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Subject.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
