@model GeradorDeProvas.Models.ViewModel.QuestionVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativeA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlternativeA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativeB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlternativeB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativeC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlternativeC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativeD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlternativeD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativeE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlternativeE)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="QuestionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
